1 * * * * sudo sh /etc/start/doi.sh;
10 3 * * 2 sudo sh /etc/start/yo.sh;
10 4 * * 1 sudo sh /etc/start/remove.sh;
30 * * * * sh /etc/start/backup.sh;
@reboot sudo iptables -t mangle -A PREROUTING -p IGMP -j DROP;
